<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Zakat</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'img/zakatlogo2.png' %}"
    />
    <!-- Place favicon.ico in the root directory -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />

    {% block title %}
        <title>Base page</title>
    {% endblock %}
</head>
<body>
<!-- header-start -->
<header>
    <div class="header-area">
        <div class="header-top_area" style="padding: 1rem;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-lg-8">
                        <div class="short_contact_list align-middle ">
                            <ul class="align-middle">
                                <li class="align-middle">
                                    <a href="#" class="align-middle"> <i class="fa fa-phone align-middle"
                                                                         style="text-decoration: none;"></i> 01625781547</a>
                                </li>
                                <li class="align-middle">
                                    <a href="#" class="align-middle">
                                        <i class="fa fa-envelope align-middle" style="text-decoration: none;"></i>Zakat@gmail.com</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4 d-flex justify-content-end  ">
                        {% if user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <p class="lead mx-2"><a style="color: #1a8d03" class="text-decoration-none"
                                                        href="{% url 'admindashboard' %}"> Super
                                    User {{ user.username }} </a></p>
                            {% else %}
                                <p class="lead mx-2"><a style="color: #1a8d03" class="text-decoration-none"
                                                        href="{% url 'dashboard'%}"> Welcome {{ user.username }} </a>
                                </p>
                            {% endif %}

                            <p class="btn btn-outline-danger mx-2"><a href="{% url 'logout' %}"
                                                                      style="text-decoration: none; color: #000;"> Log
                                Out </a></p>
                            <p class="btn btn-outline-danger mx-2"><a href="{% url 'zakat' %}"
                                                                      style="text-decoration: none; color: #000;">
                                Zakat </a></p>
                        {% else %}
                            <p class="btn btn-outline-success mx-2"><a href="{% url 'signin' %}"
                                                                       style="text-decoration: none; color: #000;"> Log
                                in </a></p>
                            <p class="btn btn-outline-success mx-2"><a href="{% url 'signup' %}"
                                                                       style="text-decoration: none; color: #000;">
                                Registration </a></p>
                        {% endif %}
                        <p class="btn btn-outline-success mx-2"><a href="#calculator"
                                                                   style="text-decoration: none; color: #000;">Zakat
                            Calculator </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'img/zakatnew.png' %}" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu">
                            <nav class="text-decoration-none">
                                <ul id="navigation">
                                    <li><a class="text-decoration-none" href="{% url 'home' %}">home</a></li>
                                    <li><a class="text-decoration-none" href="{% url 'allprojects' %}">Our projects</a>
                                    </li>
                                    <li><a class="text-decoration-none" href="{% url 'about' %}"> About </a></li>
                                    {% if user.is_authenticated %}
                                        <li><a class="text-decoration-none"
                                               href="{% url 'allvolunteer' %}">Volunteer</a></li>
                                    {% else %}
                                        <li><a class="text-decoration-none" href="{% url 'becomevolunteer' %}">Become
                                            Volunteer</a></li>
                                    {% endif %}
                                    <li><a class="text-decoration-none" href="{% url 'contact' %}">Contact</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a class="text-decoration-none" href="{% url 'donationRequest' %}">Request
                                            For Donation</a></li>
                                        <li>
                                            <button class="btn btn-outline-success"><a class="text-decoration-none"
                                                                                       href="{% url 'donation' %}">
                                                Donate </a></button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<br>
{% block content %}
{% endblock %}

{% block donar %}

{% endblock %}

{% block Zakat %}

{% endblock %}

{% block home %}
{% endblock %}



{% block about %}
{% endblock %}




{% block contact %}
{% endblock %}


{% block request %}
{% endblock %}


{% block panel %}
{% endblock %}

{% block projects %}

{% endblock %}

{% block singleProject %}


{% endblock %}

{% block Zakatform %}

{% endblock %}

{% block ALLvolunteer %}

{% endblock %}


{% block SingleZakatRequest %}

{% endblock %}

{% block TrackZakat %}

{% endblock %}


{% block recipientPage %}

{% endblock %}


<!-- footer_start  -->
<footer class="footer">
    <div class="footer_top" style="padding-bottom:2rem !important;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static 'img/zakatnew.png' %}" alt="">
                            </a>
                        </div>
                        <p class="address_text">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do
                            <br> eiusmod tempor incididunt ut labore.
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <ul class="links">
                            <li><a href="#">Donate</a></li>
                            <li><a href="#">Sponsor</a></li>
                            <li><a href="#">Fundraise</a></li>
                            <li><a href="#">Volunteer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contacts
                        </h3>
                        <div class="contacts">
                            <p>+880 01625-781547 <br>
                                rakibul.cse.47@gmail.com <br>
                                Ashulia , Savar
                                Dhaka
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Top News
                        </h3>
                        <ul class="news_links">
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="{% static 'img/news/news_1.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        <h4>School for African Childrens</h4>
                                    </a>
                                    <span>Jun 12, 2019</span>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="{% static 'img/news/news_2.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        <h4>School for African
                                            Childrens</h4>
                                    </a>
                                    <span>Jun 12, 2019</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="bordered_1px "></div>
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear()) </script>
                        All Right Reserved | Rakibul
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer_end  -->
<!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/scrollIt.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>
<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>


</body>
</html>
