{% extends 'baseTemplate.html' %}
{% load static %}


{% block home %}

    <!-- slider_area_start -->

    {% include 'mainTemplate/slider.html' %}

    <!-- slider_area_end -->

    <div class="jumbotron">
        <div class="container">
            <div class="content d-flex justify-content-between">
                <div class="p-2 col-6">
                    <h2>Zakat A Donations Services</h2>
                </div>
                <div class="p2 col-6">
                    <blockquote class="blockquote text-justify">
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                            posuere erat a ante. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Amet doloremque doloribus veniam veritatis.
                            Aliquid eius et expedita facilis libero maiores!
                        </p>
                        <footer class="blockquote-footer">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    {# calculator start#}

    <script>
        function calc(Zakat) {
            var a1 = parseFloat(document.getElementById("a1").value);
            var a2 = parseFloat(document.getElementById("a2").value);
            var a3 = parseFloat(document.getElementById("a3").value);

            var a4 = a1 + a2;
            var a5 = a4 - a3;

            document.getElementById("result").value = (a5 * 2.5) / 100;
        }
    </script>

    <div
            class="d-flex col-12"
            id="calculator"
            style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'img/banner/banner.png' %});width: 100%;">
        <div class="col-7 d-flex align-items-center justify-content-center">
            <div class="text text-justify">
                <h1 class="text-left" style="color: white">
                    What is Nisab? Calculate your Zakat amount...
                </h1>
                <span class="typography" style="color: white">
        Nisab is the minimum amount that a Muslim must have before being obliged
        to zakat. The Nisab was set by Prophet Muhammad (SAW) at a rate
        equivalent to: 87.48 grams of gold and 612.36 grams of silver. Zakat is
        payable at 2.5% of the wealth one possesses above the nisab.</span
                >
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 bg-light rounded p-4 my-3 shadow">
            <form class="forms">
                <h4 class="text-center">Zakat Calculator</h4>
                <div class="form-contact">
                    <div class="form-group">
                        <label style="color: green"> Total money </label>
                        <input
                                type="text"
                                class="form-control border-success rounded"
                                placeholder="Enter amount"
                                id="a1"
                        />
                    </div>
                    <div class="form-group">
                        <label style="color: green"> Value of the Property </label>
                        <input
                                type="text"
                                class="form-control border-success rounded"
                                placeholder="Enter amount"
                                id="a2"
                        />
                    </div>
                    <div class="form-group">
                        <label style="color: green"> Tex and Debt </label>
                        <input
                                type="text"
                                class="form-control border-success rounded"
                                placeholder="Enter amount"
                                id="a3"
                        />
                    </div>
                    <p onclick="calc()" class="btn btn-block btn-success p-2 h3">
                        Calculate
                    </p>
                    <div class="form-group my-2">
                        <label class="" style="color: green"> Total Zakat </label>
                        <div class="d-flex justify-content-center">
                            <input
                                    type="text"
                                    class="form-control border-success rounded"
                                    placeholder="Zakat amount"
                                    id="result"
                            />
                            <p class="btn btn-outline-success rounded form-control mx-2">
                                <a
                                        class="h5 align-items-center text-center"
                                        href="{% url 'donation' %}"
                                        style="text-decoration: none"
                                >Donate
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {# calculator ends here #}

    <div class="popular_causes_area pt-120">
        <div class="container">

            <div class="section_title text-center mb-55">
                <h3><span>Ongoing Project </span></h3>
            </div>
            <div class="row">
                {% for n in projectList %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{{ n.projectImage.url }}" alt="" >
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 30%;"
                                             aria-valuenow="55"
                                             aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            55%
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="balance d-flex justify-content-between align-items-center">
                                    <span>Raised:5000.00 ৳  </span>
                                    <span> Target:{{ n.projectTargetPrice }}৳</span>
                                </div>
                                <a href="{% url 'singleprojectshow' n.id %}"><h4>{{ n.projectName }}</h4></a>
                                <p class="text-truncate">{{ n.projectDescriptions }}</p>
                                <a class="read_more" href="{% url 'singleprojectshow' n.id %}">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    </div>


    <!-- latest_activites_area_start  -->
    <div class="latest_activites_area">
        <div
                class="video_bg_1 video_activite d-flex align-items-center justify-content-center"
        >
            <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
                <i class="flaticon-ui"></i>
            </a>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="activites_info">
                        <div class="section_title">
                            <h3>
                                <span>Watch Our Latest </span><br/>
                                Activities
                            </h3>
                        </div>
                        <p class="para_1">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                            eiusmod tempor incididunt ut labore dolore magna aliqua. enim minim
                            veniam, quis nostrud exercitation.
                        </p>
                        <p class="para_2">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                            eiusmod tempor incididunt ut labore dolore magna aliqua. enim minim
                            veniam, quis nostrud exercitation. tempor incididunt ut labore
                            dolore magna aliqua. enim minim veniam, quis nostrud exercitation.
                        </p>
                        <a href="{% url 'donation' %}" class="boxed-btn4">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- latest_activites_area_end  -->

    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Popular Causes</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="causes_active owl-carousel">
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'img/causes/1.png' %}" alt=""/>
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: 30%"
                                                aria-valuenow="30"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                        >
                                            <span class="progres_count"> 30% </span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="balance d-flex justify-content-between align-items-center"
                                >
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Help us to Send Food</h4>
                                <p>
                                    The passage is attributed to an unknown typesetter in the
                                    century who is thought
                                </p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'img/causes/2.png' %}" alt=""/>
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: 30%"
                                                aria-valuenow="30"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                        >
                                            <span class="progres_count"> 30% </span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="balance d-flex justify-content-between align-items-center"
                                >
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Clothes For Everyone</h4>
                                <p>
                                    The passage is attributed to an unknown typesetter in the
                                    century who is thought
                                </p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'img/causes/3.png' %}" alt=""/>
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: 30%"
                                                aria-valuenow="30"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                        >
                                            <span class="progres_count"> 30% </span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="balance d-flex justify-content-between align-items-center"
                                >
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Water For All Children</h4>
                                <p>
                                    The passage is attributed to an unknown typesetter in the
                                    century who is thought
                                </p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="single_cause">
                            <div class="thumb">
                                <img src="{% static 'img/causes/1.png' %}" alt=""/>
                            </div>
                            <div class="causes_content">
                                <div class="custom_progress_bar">
                                    <div class="progress">
                                        <div
                                                class="progress-bar"
                                                role="progressbar"
                                                style="width: 30%"
                                                aria-valuenow="30"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                        >
                                            <span class="progres_count"> 30% </span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="balance d-flex justify-content-between align-items-center"
                                >
                                    <span>Raised: $5000.00 </span>
                                    <span>Goal: $9000.00 </span>
                                </div>
                                <h4>Help us to Send Food</h4>
                                <p>
                                    The passage is attributed to an unknown typesetter in the
                                    century who is thought
                                </p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->

    <!-- counter_area_start  -->
    <div class="counter_area">
        <div class="container">
            <div class="counter_bg overlay">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div
                                class="single_counter d-flex align-items-center justify-content-center"
                        >
                            <div class="icon">
                                <i class="flaticon-calendar"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div
                                class="single_counter d-flex align-items-center justify-content-center"
                        >
                            <div class="icon">
                                <i class="flaticon-heart-beat"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div
                                class="single_counter d-flex align-items-center justify-content-center"
                        >
                            <div class="icon">
                                <i class="flaticon-in-love"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div
                                class="single_counter d-flex align-items-center justify-content-center"
                        >
                            <div class="icon">
                                <i class="flaticon-hug"></i>
                            </div>
                            <div class="events">
                                <h3 class="counter">120</h3>
                                <p>Finished Event</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter_area_end  -->

    <!-- our_volunteer_area_start  -->
    <div class="our_volunteer_area section_padding" id="Volunteer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Our Volunteer</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {# for loop will start here #} {% for volunteer in volunteerData %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_volenteer">
                        <div class="volenteer_thumb">
                            <img src="{{ volunteer.volunteerImage.url }}" alt=""/>
                        </div>
                        <div class="voolenteer_info d-flex align-items-end">
                            <div class="social_links">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="info_inner">
                                <h4>{{ volunteer.volunteerName }}</h4>
                                <p>Volunteer</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} {# for wil ends here #}
            </div>
        </div>
    </div>
    <!-- our_volunteer_area_end  -->

    <!-- New news__area_start  -->
    <!-- New news__area_Ends here  -->


    <!-- news__area_start  -->
    <div class="news__area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>News & Updates</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="news_active owl-carousel">
                        <div class="single__blog d-flex align-items-center">
                            <div class="thum">
                                <img src="{% static 'img/news/1.png' %}" alt=""/>
                            </div>
                            <div class="newsinfo">
                                <span>July 18, 2019</span>
                                <a href="{% static 'img/gallery/zakatGallery (3).jpg' %}"
                                >
                                    <h3>Pure Water Is More Essential</h3>
                                </a
                                >
                                <p>
                                    The passage experienced a surge in popularity during the
                                    1960s when used it on their sheets, and again.
                                </p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>

                        <div class="single__blog d-flex align-items-center">

                            <div class="thum">
                                <img src="{% static 'img/news/2.png' %}" alt=""/>
                            </div>

                            <div class="newsinfo">
                                <span>July 18, 2019</span>
                                <a href="#"
                                >
                                    <h3>Pure Water Is More Essential</h3>
                                </a
                                >
                                <p>
                                    The passage experienced a surge in popularity during the
                                    1960s when used it on their sheets, and again.
                                </p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="d-flex justify-content-between">
                <div class="card shadow rounded" style="width: 18rem">
                    <img
                            class="card-img-top"
                            src="{% static 'img/gallery/zakatGallery (3).jpg' %}"
                            alt="Card image cap"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                    </div>
                </div>

                <div class="card shadow rounded" style="width: 18rem">
                    <img
                            class="card-img-top"
                            src="{% static 'img/gallery/zakatGallery (3).jfif' %}"
                            alt="Card image cap"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                    </div>
                </div>

                <div class="card shadow rounded" style="width: 18rem">
                    <img
                            class="card-img-top"
                            src="{% static 'img/gallery/zakatGallery (2).jfif' %}"
                            alt="Card image cap"
                    />
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- news__area_end  -->

{% include 'mainTemplate/surveyform.html' %}


{% endblock %}
