<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/fold/style.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="{% static 'img/fold/frontImg.jpg' %}" alt="">
            <div class="text">
                <span class="text-1">Every new friend is a <br> new adventure</span>
                <span class="text-2">Let's get connected</span>
            </div>
        </div>
        <div class="back">
            <img class="backImg" src="{% static 'img/fold/backImg.jpg' %}" alt="">
            <div class="text">
                <span class="text-1">Complete miles of journey <br> with one step</span>
                <span class="text-2">Let's get started</span>
            </div>
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="signup-form">
                <div class="title">Signup</div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="User name" {{ form.username }}>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your email" {{ form.email }} >
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter your password" {{ form.password1 }}>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="re Enter your password"  {{ form.password2 }}>
                        </div>
                        <div class="button input-box">
                            <input class="btn login_btn" type="submit" value="Register Account">
                        </div>
                        <div class="text sign-up-text">Already have an account? <a href="{% url 'signin' %}" > Login now </a>
                        </div>
                    </div>
                </form>
                                    {{ form.errors }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
